<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.mapper.WordMapper">
    <select id="getRandomWord" resultType="com.java.spanish.vo.WordVo">
        SELECT * FROM (SELECT * FROM words ORDER BY DBMS_RANDOM.RANDOM) WHERE ROWNUM = 1
    </select>
    
    <update id="updateWordCheck" parameterType="int">
    	UPDATE WORDS SET IS_CHECKED = 1 WHERE WORD_ID = #{wordId} 
    </update>
</mapper>
